{% extends "main.html" %}
{% block content %}
<div>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset>
            <legend>Add Internship</legend>
            <div>
                <div>
                    {{ form.company(placeholder="Company") }}
                </div>
                <div>
                    {{ form.term(placeholder="term") }}
                </div>
                <div>
                    {{ form.year(placeholder="Year") }}
                </div>
                <div>
                    {{ form.location(placeholder="Location") }}
                </div>
                <div>
                    {{ form.additional_information(placeholder="Add Info") }}
                </div>
                <div>
                    {{ form.url(placeholder="URL") }}
                </div>
        </div>

        </fieldset>
        {{ form.submit() }}
    </form>
    </div>
{% endblock content %}