{% extends "main.html" %}
{% block content %}
<div class="col-md-8">
    <div class="content-section">
        <form method="POST", action="">
            {{ deleteForm.hidden_tag() }}
            <fieldset class="form-group">
                <div class=form-group">
                    {% if deleteForm.password.errors %}
                        {{ deleteForm.password(class="form-control form-control-sm is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in deleteForm.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ deleteForm.password(placeholder="Enter Password to Delete Account", class="form-control  form-control-sm") }}
                    {% endif %}
                </div>
            </fieldset>
            {{ deleteForm.submit(class="btn btn-outline-dark") }}
        </form>
    </div>
</div>
{% endblock content %}