{% extends "main.html" %}
{% block content %}
<div class="col-md-8">
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4 text-navy">Edit Account</legend>
                <div class=form-group">
                    {% if form.username.errors %}
                        {{ form.username(class="form-control form-control-sm is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.username(placeholder="New Username", class="form-control  form-control-sm") }}
                    {% endif %}
                </div>
                <br>
                <div class=form-group">
                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-sm is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(placeholder="New Email", class="form-control  form-control-sm") }}
                    {% endif %}
                </div>
                <br>
                <div class=form-group">
                    {% if form.old_password.errors %}
                        {{ form.old_password(class="form-control form-control-sm is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.old_password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.old_password(placeholder="Old Password", class="form-control  form-control-sm") }}
                    {% endif %}
                </div>
                <br>
                <div class=form-group">
                    {% if form.password.errors %}
                        {{ form.password(class="form-control form-control-sm is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(placeholder="New Password", class="form-control  form-control-sm") }}
                    {% endif %}
                </div>
                <br>
                <div class=form-group">
                    {% if form.confirmPassword.errors %}
                        {{ form.confirmPassword(class="form-control form-control-sm is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.confirmPassword.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.confirmPassword(placeholder="Confirm New Password", class="form-control  form-control-sm") }}
                    {% endif %}
                </div>
            </fieldset>
            {{ form.submit(class="btn btn-outline-dark") }}
        </form>
        <div class="border-top pt-3 text-white">
            <small>
                Delete Account <a class="ml-2" href="{{ url_for('deleteAccount') }}">Delete Account</a>
            </small>
        </div>
    </div>
</div>
{% endblock content %}