{% extends "main.html" %}
{% block content %}
<div>
    <table>
        <tr>
            <td><h3>Company</h3></td>
            <td><h3>Date</h3></td>
            <td><h3>Locations</h3></td>
            <td><h3>Additional Information</h3></td>
        </tr>
        {% for internship in internships %}
            <tr>
                <td><a href="{{internship.link}}">{{internship.company}}</a></td>
                <td>{{internship.term}}  {{internship.year}}</td>
                <td>{{internship.location}}</td>
                <td>{{internship.additional_information}}</td>
            </tr>
        {% endfor %}
    </table>
    
</div>

{% endblock content %}