<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/main.css') }}">

    {% if title %}
    <title> CS Seeker - {{ title }} </title>
    {% else %}
    <title> CS Seeker </title>
    {% endif %}
</head>
<body>
    <header>
        <nav class="navbar bg-dark navbar-dark">
            <a class="navbar-brand" href="/">SE Seeker</a>
            <a class="nav-item" href="/internships">Internships</a>
            <a class="nav-item" href="/add-internship">Add Internship</a>
            <a class="nav-item" href="#">My Tracker</a>
            <div class="float-right">
                {% if current_user.is_authenticated %}
                    <a class="nav-item" href="/logout">Logout</a>
                {% else %}
                    <a class="nav-item" href="/login">Login</a>
                {% endif %}
            </div>
        </nav>
    </header>
    <main role="main">
        <div>
            {% block content %}{% endblock %}
        </div>
    </main>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>